
* { margin: 0; padding 0; }
html { background: #000; }

body
  {
  font: 11px "Lucida Grande", Helvetica, Arial, Sans-Serif; 
  color: #262626;
  }

hr 
  {
  width: 100%;
  height: 8px;
  color: #262626;
  background-color: #262626;
  }

/*outerwrap sets fixed image to scale to fill window, with a min-width*/
img#outerwrap 
  {
  width: 100%;
  min-width: 775px;
  min-height: 775px;
  position: fixed;
  }

div#header
  {
  background-color: #262626;
  position: relative;
  margin: 0px auto 0px auto;
  width: 100%;
  height: 50px;
  }

#header_logo_wrap 
  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 0px;
  }
#header_logo
  {
  width: 640px;
  margin-left: auto;
  margin-right: auto;
  }

.logo_revision
  {
  /*color: #E9BA26;*/
  top: 10px;
  color: #9ac7e6; /*lighter blue*/
  color: #5299cd; /*light blue*/
  font: 42px "Helvetica", Lucida Grande, Arial, Sans-Serif;
  font-weight: 900;
  }
.logo_42
  {
  color: #ffd55c; /*brighter yellow*/
  color: #ffb85c; /*yellow*/
  color: #6164d5; /*magenta*/
  }
#nav_bar
  {
  float: right;
  color: #ffd55c; /*brighter yellow*/
  color: #ffb85c; /*yellow*/
  color: #6164d5; /*magenta*/
  font: 18px "Helvetica", Lucida Grande, Arial, Sans-Serif;
  font-weight: 900;
  }

/*margin_wrap sets up the minimum margins for the main body of the page, not header but including footer*/
#margin_wrap 
  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 0px;
  }

/*innerwrap sets up margins to auto scale beyond margin_wraps minimum*/
#innerwrap 
  {
  margin-left: auto;
  margin-right: auto;
  }

/*main body page+sidebars but not header nor footer */
div#main
  {
  position: relative;
  top: 8px;
  margin: 0px auto 8px auto;
  width: 640px;
  height: 600px;/*30+5+5+550+5+5*/
  }

/*page is main body content, no sidebars, no header, no footer */
div#page_wrap
  {
  float: left;
  width: 484px;
  }
div#page_header
  {
  background-color: #6164d5; /*magenta*/
  width: 474;
  height: 30px;
  padding: 5px;

  border:0px;
  border-top-left-radius:8px;
  -moz-border-radius-topleft:8px; /* Firefox 3.6 and earlier */
  -webkit-border-top-left-radius:8px; /* Safari */
  border-top-right-radius:8px;
  -moz-border-radius-topright:8px; /* Firefox 3.6 and earlier */
  -webkit-border-top-right-radius:8px; /* Safari */
  border-bottom-right-radius:0px;
  -moz-border-radius-bottomright:0px; /* Firefox 3.6 and earlier */
  -webkit-border-bottom-right-radius:0px; /* Safari */
  border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft:0px; /* Firefox 3.6 and earlier */
  -webkit-border-bottom-left-radius:0px; /* Safari */
  }
div#page_body
  {
  background-color: white;
  width: 474px;
  height: 550px;
  padding: 5px;

  border:0px;
  border-top-left-radius:0px;
  -moz-border-radius-topleft:0px; /* Firefox 3.6 and earlier */
  -webkit-border-top-left-radius:0px; /* Safari */
  border-top-right-radius:0px;
  -moz-border-radius-topright:0px; /* Firefox 3.6 and earlier */
  -webkit-border-top-right-radius:0px; /* Safari */
  border-bottom-right-radius:8px;
  -moz-border-radius-bottomright:8px; /* Firefox 3.6 and earlier */
  -webkit-border-bottom-right-radius:8px; /* Safari */
  border-bottom-left-radius:8px;
  -moz-border-radius-bottomleft:8px; /* Firefox 3.6 and earlier */
  -webkit-border-bottom-left-radius:8px; /* Safari */
  }

div#sidebar
  {
  float: left;
  background-color: #262626;
  position: relative;
  top: 0px;
  right: 0px;
  margin: 0px 0px 8px 8px;
  padding: 3px;
  width: 140px;
  min-height: 140px;

  border:0px;
  border-radius:8px;
  -moz-border-radius:8px; /* Firefox 3.6 and earlier */
  -webkit-border-radius:8px; /* Safari */
  }

img#jjm
  {
  width: 130px;
  height: 130px;
  margin: 5px 5px 5px 5px;
  }

div#sidebar2
  {
  float: left;
  background-color: white;
  position: relative;
  top: 0px;
  right: 0px;
  margin: 0px auto 8px 8px;
  padding: 3px;
  width: 140px;
  min-height: 120px;

  border:0px;
  border-radius:8px;
  -moz-border-radius:8px; /* Firefox 3.6 and earlier */
  -webkit-border-radius:8px; /* Safari */
  }

div#footer_wrap
  {
  width: 640px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  }

div#footer
  {
  float: left;
  background-color: #262626;
  opacity: .82;
  filter:alpha(opacity=82);
  position: relative;
  top: 10px;
  margin: 0px auto 12px auto;
  width: 474px;
  height: 50px;
  padding: 5px;

  border:0px;
  border-radius:8px;
  -moz-border-radius:8px; /* Firefox 3.6 and earlier */
  -webkit-border-radius:8px; /* Safari */
  }

